<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">  -->
<!-- (3.1버전은 경로가 다름)servlet버전에 맞게 버전 설정 --> 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1"> 
  
  <display-name>spring_learning</display-name>
  	<!-- @Controller 이용하여 Controller를 사용할 수 있도록 설정 -->
  	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			
			<!-- Controller를 사용할 수 있는 옵션 -->
			<!--<param-value>태그 안에 ex) /WEB-INF/webpage1.xml 이런 식으로 더 추가할 수 있음 -->
			<param-value>
			<!-- 
			/WEB-INF/webpage.xml
			 -->
			/WEB-INF/db_config.xml
			/WEB-INF/webpage2.xml
			</param-value>
		</init-param>
		<!-- webpage.xml을 첫번째로 읽어들임 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  
  
  
  
  <!-- 언어셋 세팅(utf-8) -->
  <filter>
  <filter-name>encoding</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <!-- 기본 언어셋 -->
  <init-param>
  	<param-name>encoding</param-name>
  	<param-value>UTF-8</param-value>
  </init-param>
  <!-- 기본 언어셋을 작동시킴 -->
  <init-param>
  	<param-name>forceEncoding</param-name>
  	<param-value>true</param-value>
  </init-param>
  </filter>
  
  <!-- 모든 Controller에 적용 -->
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 언어셋 세팅(utf-8)끝 -->

</web-app>